<div data-hook="admin_product_upload_form_fields">
  <div class="twelve columns alpha">
    <div data-hook="file" class="field">
      <%= f.label "Product CSV File" %><br>
      <%= f.file_field :csv_data %>
    </div>
  </div>
</div>

<div class="clear"></div>
